<a href="https://colab.research.google.com/github/Sahil71d/ML_Sahil/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('/content/challenger.csv')

# Explore the dataset
print(df.head())
print(df.info())
print(df.isnull().sum())

# Handle missing values
df.dropna(inplace=True)

# Convert data types
df['date_column'] = pd.to_datetime(df['temperature'])
df['category_column'] = df['pressure'].astype('category')

# Normalize a numerical column
df['normalized_column'] = (df['distress_ct'] - df['o_ring_ct'].min()) / (df['launch_id'].max() - df['pressure'].min())

# Display the cleaned dataset
print(df.head())

   o_ring_ct  distress_ct  temperature  pressure  launch_id
0          6            0           66        50          1
1          6            1           70        50          2
2          6            0           69        50          3
3          6            0           68        50          4
4          6            0           67        50          5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   o_ring_ct    23 non-null     int64
 1   distress_ct  23 non-null     int64
 2   temperature  23 non-null     int64
 3   pressure     23 non-null     int64
 4   launch_id    23 non-null     int64
dtypes: int64(5)
memory usage: 1.0 KB
None
o_ring_ct      0
distress_ct    0
temperature    0
pressure       0
launch_id      0
dtype: int64
   o_ring_ct  distress_ct  temperature  pressure  launch_id  \
0          6            0           66        50          1
1          6            1           70        50          2
2          6            0           69        50          3
3          6            0           68        50          4
4          6            0           67        50          5

                    date_column category_column  normalized_column
0 1970-01-01 00:00:00.000000066              50           0.222222
1 1970-01-01 00:00:00.000000070              50           0.185185
2 1970-01-01 00:00:00.000000069              50           0.222222
3 1970-01-01 00:00:00.000000068              50           0.222222
4 1970-01-01 00:00:00.000000067              50           0.222222